@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Outfit:wght@100..900&family=Playwrite+MX&family=Playwrite+NO:wght@100..400&family=Playwrite+RO:wght@100..400&display=swap');
body{
  font-family: "DM Sans", sans-serif;
}
.italic{
  font-family: "Playwrite RO", cursive;
}
.textflowin{
  /* transition: all ease-in-out 1s; */
  animation: textflow 2s infinite;
  z-index: -1;
  opacity: 0;
}
@keyframes textflow {
  0%{
    transform: translateY(100px);
    opacity: 0;
  }
  10%{
    transform:translateY(0px);
  }
  100%{
    opacity: 1;
  }
}